.logsBackground {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__dates__item {
        border-bottom: 1px solid #005E9E;
    }
    &__weights__item {
        border-bottom: 1px solid #005E9E;
    }
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 370px;
      }
}
