.paginationBackground {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: black;
  

    &__container {
        border: solid 3px #005E9E;
        text-align: left;
        border-radius: 5px;
        margin-top: -100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &__number {
            border-right: solid 3px #005E9E;
            margin-left: 5px;
            padding: 6px;
            cursor: pointer;
            
        }

        &__number.active {
            background-color: #A4C062;
            margin-left: -1px;
            
        }
    }
}

.pageNumber {
    margin-right: 5px;
}