.weightLogsBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;

    &__container {
        font-size: 25px;
        padding: 10px;
        width: 480px;
        height: 300px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: #005E9E 3px solid;
    }
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 414px;
      }
}

.logsTitle {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    
}

.subHeadings__background {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subHeadings__container {
    padding: 5px;
    text-align: left;
    font-size: 25px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 3px #005E9E;
    min-width: 480px;
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 414px;
      }
}

.column1 {
    border-bottom: solid 2px #005E9E;
}

.column2 {
    border-bottom: solid 2px #005E9E;
    margin-left: 180px;
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 414px;
        margin-left: 150px;
      }
}