.footer{
    background-color: #222431;
    color: white;
    position: relative;
    width: 100%;
    padding: 20px; 
    min-height: 40vh;
    max-height: 60vh;

    &__columns {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 600px));
      grid-row: 2;

      &__column1 {
        color: #9395A5;
        font-size: 40px;
        font-family: noto;
        margin-left: 30px;
        padding: 20px;
      }

      &__column2 {
        color: white;
        gap: 20px;
        margin-left: 10px;
        padding: 20px;
      }
    }

    &__footerEnd {
      color: #9395A5;
      padding: 50px;

      &__border {
        border-top: solid 0.1px #9395A5;
      }

      &__copyright {
        margin-top: 5px;
      }
    }
    @media screen and (max-width: 414px) {
      /* Styles for screens up to 768px wide */
      min-width: 414px;
    }
  }

body {
    margin: 0;
    min-height: 100vh;
}