.footer{
    background-color: #222431;
    color: white;
    position: 100vh;
    width: 100%;
    padding: 20px; 
    height: 80vh;

    &__columns {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      grid-row: 2;

      &__column1 {
        color: #9395A5;
        font-size: 40px;
        padding: 60px;
        margin-left: 30px;
      }

      &__column2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
        margin-top: 85px;
        text-align: left;
      }
    }

    &__footerEnd {
      color: #9395A5;
      padding: 90px;
      position: 100vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100, 300px));


      &__border {
        border-top: solid 0.1px #9395A5;
      }

      &__copyright {
        margin-top: 30px;
      }
    }
  }

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
}