.modalBackground {
    width: 50vw;
    height: 100vh;
    // background-color: rgba(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 

    &__container {
        width: 350px;
        height: 510px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        position: absolute; left: 0px;
        bottom: 90%;

        &__closeBtn {
            display: flex;
            justify-content: flex-end;
        }

        &__title {
            display: inline-block;
            text-align: center;
            font-size: 32px;
        }

        &__body {
            padding: 10px;
            font-size: 20px;
            text-align: left;

            &__label {
                margin-top: 10px;
            }
        }

        &__footer {
            margin-top: 20px;
            border: none;
            background-color: cornflowerblue;
            color: white;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
}

.addFoodInput {
    border-radius: 3px;
    border: solid black 0.5px;
    float: right;
    width: 190px;
}