.modalWeightBackground {
    width: 100vw;
    height: 100vh;
    // background-color: rgba(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 

    &__container {
        width: 500px;
        height: 300px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        position: absolute;
        left: 50px;
        bottom: 100%;

        &__closeBtn {
            display: flex;
            justify-content: flex-end;
        }

        &__title {
            display: inline-block;
            text-align: center;
            font-size: 45px;
        }

        &__body {
            padding: 10px;
            font-size: 20px;

            &__label {
                margin-top: 10px;
            }
        }

        &__footer {
            margin-top: 20px;
            border: none;
            background-color: cornflowerblue;
            color: white;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
}