.foodLogBackground {
    background-color: white;
    margin-top: 30px;
    min-width: 350px;
    max-width: 90%;
    &__container {
        padding: 10px;
        border: solid 1px grey;

        &__table {
            &__wideColumn {
                padding: 10px;
            
            }
        }
    }
}