.nutritionLabelBackground {
    min-width: 400px;
    max-width: 50%;
    margin-top: 30px;
    position: relative;
  
    &__container {
      font-size: 25px;
      border-radius: 22px;
      box-shadow: rgba(0.3, 0, 0.3) 0px 2px 5px;
      background-color: white;
      padding: 20px;
      max-width: 315px;
      min-height: 715px;
  
      &__heading {
        font-weight: bold;
        font-size: 1.9rem;
        margin-bottom: 5px;
        margin-top: 1.5rem;
      }
  
      &__subHeading {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;

        &__span {
            font-size: 35px;
            margin-left: 20px;
            min-width: 100px;
            max-width: 100px;
        }

        &__serving {
            font-size: 15px;
            margin-top: 10px;
        }

        &__calories {
            font-size: 35px;
            width: 275px;
        }
  
        &__divider {
          margin: 4px 0;

          &__top {
            border-bottom: 10px solid #E8E8E8;
          }

          &__bottom {
            border-bottom: 5px solid #E8E8E8;
            margin-top: 10px;
            width: 100%;
          }
        }
  
        &__end {
          font-size: 11px;
          margin-top: -2px;
          text-align: right;
          border-bottom: 1px solid #E8E8E8;
        }
      }
  
      &__body {
        font-size: 16px;
        margin-bottom: 10px;

        &__table {
            width: 275px;
            text-align: left;
            &__body__new {
                border-top: 1px solid #E8E8E8;
                padding: 5px;
            }
        }
  
        div {
          margin-bottom: 4px;
        }
  
        span {
          font-weight: bold;
          margin-left: 4px;
        }
        &__divider {
            border-bottom: 1px solid #E8E8E8;
            max-width: 100%;
        }
      }
  
      &__footer {
        font-size: 12px;
        margin-top: 40px;
      }
    }
  }