.scan-barcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .video-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .video-element {
    max-width: 100%;
    height: auto;
  }
  
  .content-container {
    padding-top: 20px;
  }
  