.landingCard {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 5px rgba(0.1,0.1,0.1,0.1);
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 2em;
    
    &__heading {
    margin: auto;
    width: 100%;
    }
    
    &__h1 {
      font-family: -apple-system,BlinkMacSystemFont,Raleway,Segoe         UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica     Neue,sans-serif;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    
    &__h2 {
      font-family: -apple-system,BlinkMacSystemFont,Raleway,Segoe         UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica     Neue,sans-serif;
      font-size: 18px;
      text-align: center;
  
    }
    
    &__steps {
    display: grid;
    place-items: center;
    margin: auto;
    width: 100%;
    color: grey;
    font-family: -apple-system,BlinkMacSystemFont,Raleway,SegoeUI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,HelveticaNeue,sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
      
      img{
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
    
    &__footer {
        border-top: 0.5px solid grey;
        text-align: right;
        padding-top: 15px;
        padding-bottom: 5px;
      
      button{
        background-color: #3A63DD;
        color: white;
        padding: 10px 5px;
        font-size: 14px;
      }
    }
  }