.navbar {
    background-color:#222430;
    position: sticky; top: 0;
    z-index:1;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__burgerMenu {
            height: 100%;
            max-width: 60px;
            padding-top: 15px;
            display: grid;
            cursor: pointer;
            margin-left: auto;
            margin-right: 40px;
        }

        &__logo {
            color: white;
            font-size: 40px;
            font-family: noto;
            padding: 10px;
            margin-left: 68px;
        }

        &__routes {
            color: black;
            font-size: 20px;
            font-family: noto;
            padding: 26px;
            text-align: right;
        }
    }

    &__menu {
        color: white;
        display: grid;
        // grid-template-columns: repeat(6, 100px);
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        margin-top: 10px;

        &__item {
            margin-top: 8px;
            padding: 5px;
        }
    }
} 

.burger-bar {
    width: 60px;
    height: 0.3em;
    background-color: white;
    border-radius: 0.5em;
}

.menu {
    max-width: 100vw;
    position: sticky; top: 0;
    z-index: 9999;
    min-height: 10vh;
    text-align: center;
    font-size: small;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/** animations */

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(1em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.6em, 1em);
    transition: ease-out 0.5s;
}

/** unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}