.navbar {
    background-color: white;
    position: sticky; top: 0;
    z-index:1;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__burgerMenu {
            height: 100%;
            max-width: 60px;
            padding-top: 15px;
            display: grid;
            cursor: pointer;
            margin-left: auto;
            margin-right: 20px;
        }

        &__logo {
            color: #2A64E5;
            font-size: 40px;
            font-family: noto;
            padding: 10px;
            margin-left: 68px;
        }

        &__routes {
            color: black;
            font-size: 20px;
            font-family: noto;
            padding: 26px;
            text-align: right;
        }
    }
} 

.burger-bar {
    width: 60px;
    height: 0.3em;
    background-color: white;
    border-radius: 0.5em;
}

.menu {
    max-width: 20%;
    height: 100vh;
    margin-left: auto;
    background-color: #222430;
    padding: 0;
}