.navbar {
    background-color:#222430;
    position: sticky; top: 0;
    z-index:1;
    box-shadow: 1px 1px 5px 5px rgba(0.1,0.1,0.1,0.1);
    color: white;
    font-size: 18px;
    
    &__container {
        color: white;
        margin-top: 100px;
    }
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 414px;
      }
} 

