.community {
    background-image: url("https://cloudfront.fitnessblender.com/assets/img/homepage/community-2880.webp");
    height: 90vh;
    background-position: center;
    background-size: cover;

    &__container {
        text-align: center;

        &__header {
        color: black;
        font-size: 40px;
        padding: 30px;
        }

        &__body {
        color: rgb(68, 68, 68);
        font-size: 15px;
        margin-top: -20px;
        }

        &__member {
        color: blue;
        font-size: 15px;
        margin-top: 10px;
        }
        
    }
    @media screen and (max-width: 414px) {
        /* Styles for screens up to 768px wide */
        min-width: 414px;
      }
}