.exerciseCards__title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;

    &__subsection {
    margin-top: 25px;
    font-size: 20px;
    padding: 2px;
    }
}
.exerciseCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
    margin-top: -30px;
    margin-bottom: 20px;
    padding: 30px
}
.exerciseCard {
    background-color: #F3F2F8;
    width: 300px;
    border-radius: 8px;
    margin-top: 15px;
      &__image {
        background-color: #6CBC8B;
         border-radius: 6px;
      }
    
      &__heading {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 5px;
        border-bottom: solid #DADCE0;
      }
    &__details {
      font-size: 14px;
      margin-bottom: 5px;
      padding: 7px;
    }
    
    &__body {
      padding: 5px
    }
  }
  
  .image {
      max-width: 290px;
      margin-left: 5px;
      border-radius: 4px;
  }
  
  .key {
    color: blue;
    font-weight: bold;
  }

  .start {
    color:#8dce00
  }