.landingComponent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    background-image: url('https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
    
    &__heading {
        text-align: left;
        padding: 80px;  

        &__text {
        color: #8dce00;
        font-size: 55px;

        }

    }

    &__body__text {
        color: white;
        padding: 3px;
        font-size: 20px;
    }
}

.landingComponent_image {
    max-width: 500px;
    margin: auto;
}

.landingComponent_button {
    margin-top: 10px;
    padding: 5px;
}

.text {
    margin-bottom: 20px;
}
.name {
    text-decoration: underline;
}